{% extends '_base.html' %}
{% load static %}
{% block title %}
    product detail
{% endblock %}

{% block content %}
    <input class="!hidden" value="{% if request.user.is_authenticated %}1{% else %}0{% endif %}" id="hamid22"><input/>
    <div id="product" class=""></div>
    <div id="technical" class=""></div>
    <div id="propose_product" class=" grid grid-cols-5 gap-5 col-span-2 justify-items-center m-20"></div>
    <div id="comment" class=""></div>


{% endblock %}

{% block script %}
    <script src="{% static 'js/sussssss.js' %}"></script>
    <script>
        let hamid22=document.querySelector('#hamid22').value
        console.log(hamid22)
        let id = {{pk}}
        {% include 'jsProductView/productDetailOne.js' %}
        {% include 'jsProductView/technicalProduct.js' %}
        {% include 'jsProductView/categoryProposeProductDetile.js' %}

        function plus() {
            var preValue = document.getElementById("counter").value;
            document.getElementById("counter").value = parseInt(preValue) + 1;
        }

        function minus() {
            var preValue = document.getElementById("counter").value;
            if (parseInt(preValue) != 0) {
                document.getElementById("counter").value = parseInt(preValue) - 1;
            }
        }

        function rotate() {
            document.getElementById("rotateSVG").classList.toggle("rotate-180");
        }

    </script>
    <script src="{% static 'js/bags/bagsAddProduct.js' %}"></script>
     
{% endblock %}