{% extends '_base.html' %}
{% load static %}
{% block extra-head %}
    <link href="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.min.css"  rel="stylesheet"  />
   
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    
{% endblock %}

{% block content %}
	<div class="h-full bg-gray-200 p-8" id="container-1">
    </div>
    <div id="formEdit" class="w-screen h-screen flex justify-center items-center aline-center"></div>
{% endblock %}

{% block script %}
   <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/flowbite.bundle.js"></script>
    <script src="{% static 'js/user/getContentUserProfile.js' %}"></script>
   
    <script>

            const DATA_SET_VERTICAL_BAR_CHART_1 = [68.106, 26.762, 94.255, 72.021, 74.082, 64.923, 85.565, 32.432, 54.664, 87.654, 43.013, 91.443];

            const labels_vertical_bar_chart = ['January', 'February', 'Mart', 'April', 'May', 'Jun', 'July', 'August', 'September', 'October', 'November', 'December'];

            const dataVerticalBarChart= {
                labels: labels_vertical_bar_chart,
                datasets: [
                    {
                        label: 'Revenue',
                        data: DATA_SET_VERTICAL_BAR_CHART_1,
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    }
                ]
            };
            const configVerticalBarChart = {
                type: 'bar',
                data: dataVerticalBarChart,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Last 12 Months'
                        }
                    }
                },
            };

    
        </script>
    <script src="{% static 'js/user/edutProfile.js' %}"></script>
    
{% endblock %}
    
   