{% extends '_base.html' %}
{% load static %}
{% block title %}shoping_whit_product{% endblock %}
{% block extra-head %}
    <style>
        @layer utilities {
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <body>
    <div class="h-auto min-h-[70vh] bg-gray-100 pt-20">
        <h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
        <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
            <div class="rounded-lg md:w-2/3" id="cardOrderItems">


            </div>
            <!-- Sub total -->
            <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
                <div class="mb-2 flex justify-between">
                    <p class="text-gray-700">Subtotal</p>
                    <p id="totalAllPrice" class="text-gray-700">$0</p>
                </div>
                <div class="flex justify-between">
                    <p class="text-gray-700">Shipping</p>
                    <p class="text-gray-700"></p>
                </div>
                <hr class="my-4"/>
                <div class="flex justify-between">
                    <p class="text-lg font-bold">Total</p>
                    <div class="">
                        <p id="totalPrice"class="mb-1 text-lg font-bold">$0 USD</p>
                        <p class="text-sm text-gray-700">including VAT</p>
                    </div>
                </div>
                <a href="{% url 'cardShoppingPaidView' %}"><button class="mt-6 w-full rounded-md bg-blue-500 py-1.5 font-medium text-blue-50 hover:bg-blue-600">
                    Check out
                </button></a>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
{% block script %}
    <script src="{% static 'js/bags/bagsOrderItems.js' %}"></script>
    <script src="{% static 'js/sussssss.js' %}"></script>
{% endblock %}