<div class="navbar bg-base-100" style="direction: ltr">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">shopping</a>
        {#    imoge shopingh bag#}
        {% if request.user.is_authenticated %}
            <div class="flex-none">
    <div class="dropdown dropdown-end ">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <div class="indicator">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="badge badge-sm indicator-item">8</span>
        </div>
      </div>
      <div
        tabindex="0"
        class="card card-compact dropdown-content bg-base-100 z-[10]  mt-3 w-52 shadow flex justify-centre items-center">
        <div class="card-body">
          <span class="text-lg font-bold">8 Items</span>
          <span class="text-info">Subtotal: $999</span>
          <div class="card-actions">
              <a href="{% url 'cardShoppingWithAllOrderItemsView' %}"><button class="btn btn-primary btn-block">View cart</button></a>
          </div>
        </div>
      </div>
    </div>


  </div>
        {% endif %}
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">

            <li>
                <details>
                    <summary>Parent</summary>
                    <ul class="menu bg-black-200 rounded-box w-48 z-10">
                        
                        {% for i in categories %}
                            <li><a href="{% url 'cat' category_id=i.id %}">{{ i.name }} </a></li>
                        {% endfor %}
                    </ul>
                </details>
            </li>
            {% for i in menu %}
                <li><a href="{{ i.link }}">{{ i.title }}</a></li>
            {% endfor %}
            	
           
        {#        user account#}
            {% if request.user.is_authenticated %}
             <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            alt="Tailwind CSS Navbar component"
            src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            coming sun
            <span class="badge">New</span>
          </a>
        </li>
        <li><a href="{% url 'templateUserView' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>
      </ul>
    </div>
         {% else %}
            	   <li><a href="http://localhost:8000/accounts/">login</a></li>
            {% endif %} 
         
        </ul>
    
     
    </div>
</div>